{% include "views/template/header.html" %}
{% include "views/template/heading.html" %}
{% include "views/template/slicer.html" %}
{% include "views/template/navigation.html" %}
{% include "views/template/mainwrapper.html" %}

<user>
    <div class="userSectionWrapper">
        <bread-crumb type="category" products="{{ products }}"></bread-crumb>


        <done-message></done-message>
        {% comment %} <products products="{{ products }}"></products> {% endcomment %}
        <products  products="{{ products }}" paginations="{{page_data}}" comments="{{ comments }}"></products>
    </div>

</user>
{% include "views/template/footer.html" %}
