{% include "views/template/header.html" %}
{% include "views/template/heading.html" %}			
{% include "views/template/slicer.html" %}				
{% include "views/template/navigation.html" %}			
{% include "views/template/mainwrapper.html" %}

<user>
    <div class="userSectionWrapper">
        <bread-crumb type="product" product="{{ product }}"></bread-crumb>
        <product related_products="{{related_products}}" product="{{ product }}"></product>
    </div>
</user>

				

{% include "views/template/footer.html" %}