:root{
    --logoBlue:rgb(9,113,206);
    --fontColor:rgb(112,112,112);

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: iranSans !important;
    font-size: 16px;
}
*:focus{
    outline: none;
}
html{
    min-height: 100vh;
}
body{
    overflow-x: hidden !important;
    font-family: iranSans !important;
}
@font-face {
    font-family: iranSans;
    src: url(/static/IRANSansWeb_Light.woff2);
}
#app{
    display: flex;
    justify-content: center;
}
.maxIs{
    max-width: 1400px;
}